<div>
  <div class="row">
    <div>Employee Id : &nbsp;</div>
    <div>{{ employeeDetails.employeeId }}</div>
  </div>
  <div class="row">
    <div>First Name : &nbsp;</div>
    <div>{{ employeeDetails.firstName }}</div>
  </div>
  <div class="row">
    <div>Last Name : &nbsp;</div>
    <div>{{ employeeDetails.lastName }}</div>
  </div>
  <div class="row">
    <div>Address : &nbsp;</div>
    <div>{{ employeeDetails.address }}</div>
  </div>
  <div class="row">
    <div>City : &nbsp;</div>
    <div>{{ employeeDetails.city }}</div>
  </div>
  <div class="row">
    <div>State : &nbsp;</div>
    <div>{{ employeeDetails.state }}</div>
  </div>
  <div class="row">
    <div>Postal Code : &nbsp;</div>
    <div>{{ employeeDetails.postalCode }}</div>
  </div>
  <div class="row">
    <div>Phone Number : &nbsp;</div>
    <div>{{ employeeDetails.phoneNumber }}</div>
  </div>
  <div class="row">
    <div>Email : &nbsp;</div>
    <div>{{ employeeDetails.email }}</div>
  </div>
</div>
<div>
  <a
    mat-stroked-button
    color="accent"
    [routerLink]="['../../edit', employeeDetails.employeeId]"
    title="Edit"
  >
    Edit
  </a>
  &nbsp;
  <a
    mat-stroked-button
    color="warn"
    (click)="deleteEmployee(employeeDetails.employeeId)"
    title="Delete"
  >
    Delete
  </a>
</div>
