<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <div class="alert alert-success" *ngIf="statusMessage">
      <strong>Success!</strong> {{ statusMessage }}
    </div>
    <mat-card-header>
      <mat-card-title>Employee Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company" formControlName="company" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
              required
            />
            <mat-error
              *ngIf="addressForm.controls['firstName'].hasError('required')"
            >
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
              required
            />
            <mat-error
              *ngIf="addressForm.controls['lastName'].hasError('required')"
            >
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Address"
              formControlName="address"
              required
            ></textarea>
            <mat-error
              *ngIf="addressForm.controls['address'].hasError('required')"
            >
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="City"
              formControlName="city"
              required
            />
            <mat-error
              *ngIf="addressForm.controls['city'].hasError('required')"
            >
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state" required>
              <mat-option *ngFor="let state of states" [value]="state.name">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['state'].hasError('required')"
            >
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              #postalCode
              maxlength="5"
              placeholder="Postal Code"
              type="number"
              formControlName="postalCode"
              required
            />
            <mat-hint align="end">{{ postalCode.value.length }} / 6</mat-hint>
            <mat-error
              *ngIf="addressForm.controls['postalCode'].hasError('required')"
            >
              Postal code is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="addressForm.controls['postalCode'].hasError('pattern')"
            >
              Postal code must contains <strong>6</strong> digits
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="!isDisableEmployee">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Employee ID"
              formControlName="employeeId"
              required
            />
            <mat-error
              *ngIf="addressForm.controls['employeeId'].hasError('required')"
            >
              Employee Id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Phone number"
              #phoneNumber
              type="number"
              formControlName="phoneNumber"
              required
            />
            <mat-hint align="end">{{ phoneNumber.value.length }} / 10</mat-hint>
            <mat-error
              *ngIf="addressForm.controls['phoneNumber'].hasError('required')"
            >
              Phone number is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="addressForm.controls['phoneNumber'].hasError('pattern')"
            >
              Phone number must contains <strong>10</strong> digits
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              type="email"
              formControlName="email"
              required
            />
            <mat-error
              *ngIf="addressForm.controls['email'].hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['email'].hasError('email')">
              Email is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="myEmpId; else otherBlock">
        <button mat-raised-button color="primary" type="submit">Update</button>
      </div>
      <ng-template #otherBlock>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</form>
