<div class="example-container w-50">
  <mat-form-field>
    <input matInput placeholder="Input" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">One</mat-option>
      <mat-option value="option">Two</mat-option>
      <mat-option value="option">Three</mat-option>
      <mat-option value="option">Four</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<h1>ICONS</h1>
<mat-icon class="test">thumb_up_alt</mat-icon>

<button mat-raised-button color="primary" (click)="logout()">Logout</button>
