<!-- <h3>Parent to Child: Sharing Data via Input</h3>
<div>
  <h5>Am Parent</h5>
  <app-child [childMessage]="parentMessage"></app-child>
</div> -->

<h3>Child to Parent: Sharing Data via Output() and EventEmitter</h3>
<app-child (messageEvent)="receiveMessage($event)"></app-child>
<p *ngIf="childMessage">Parent : {{ childMessage }}</p>

<div *ngIf="globalMessage">
  <h3>Global message</h3>
  <p>This is global message name: {{ globalMessage.name }}</p>
  <p>This is global message emp id: {{ globalMessage.empId }}</p>
</div>
